.page-title {
    font-weight: bold;
}

.be-content {
    margin-left: 0;
}

.card-body {
    padding: 20px;
}
.card-body > .row {
    margin: 0;
}

.header,
.highcharts-title {
    margin: 3px 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px !important;
    font-weight: 300;
    text-align: center;
}

/*.map-container {
    width: 100%;
    height: 100%;
}
.marker {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: unset !important;
}

.timeline-container .slider {
    width: 100%;
}
.timeline-container .timeline-caption {
    margin-top: -5px;
    color: #888;
}
.timeline-container .timeline-caption .timeline-min {
    float: left;
}
.timeline-container .timeline-caption .timeline-max {
    float: right;
}*/
.chart-timeline {
    height: 80px;
    margin-top: 20px;
}

.data-section {
    padding: 0;
    border: 1px solid white;
}
.data-section.empty {
    font-family: inherit;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    color: #aaa;
    background-color: #efefef;
}
.data-section:not(.empty) {
    line-height: 1.5;
}
.cctv-direction {
    line-height: inherit !important;
    font-family: dotum;
    font-size: 3em;
    text-align: center;
}
.video-js {
    width: 100%;
    height: 100%;
}

.cctv-sampling .cctv-sampling-table {
    width: 100%;
    margin: 10px 0;
}
.cctv-sampling th {
    line-height: 1;
    vertical-align: middle !important;
    padding: 3px;
}
.cctv-sampling td {
    padding: 0;
}
.cctv-sampling .fc {
    width: 50px;
}
.cctv-sampling .cctv-id {
    width: 90px;
}
.cctv-sampling .sampling-group {
    width: 90px;
}
.cctv-sampling .sampling {
    /*width: calc((100% - 50px - 90px - 90px) / 2);*/
}
.cctv-sampling .entropy {
    width: 220px;
}
.cctv-sampling .bg-changed {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.cctv-sampling .bg-changed.red {
    background-color: #aa0000;
}
.cctv-sampling .bg-changed.green {
    background-color: #00aa00;
}
.cctv-sampling .interval-chart {
    max-width: 200px;
    margin: 0 auto;
    border-left: 1px solid #555;
}
.cctv-sampling .interval-chart .interval-value {
    float: left;
    width: 8.33%;
    border: 1px solid #555;
    border-left: none;
}
.cctv-sampling .interval-chart .interval-value.on {
    background-color: #555;
}
.cctv-sampling .interval-chart .clear {
    clear: both;
}
.cctv-sampling .entropy-summary {
    width: 200px;
}

.propagation-tree .node {
    cursor: pointer;
}
.propagation-tree .node circle {
    fill: #fff;
    stroke: #555;
    stroke-width: 1px;
}
.propagation-tree .node text {
    font: 12px sans-serif;
}
.propagation-tree .link {
    fill: none;
    stroke: #555;
    stroke-width: 2px;
}
.propagation-tree .link path {
    fill: none;
    stroke: #555;
    stroke-width: 2px;
}
.propagation-tree .link text {
    font: 12px sans-serif;
    stroke: #333;
    stroke-width: 1;
}

.congestion-heatmap .highcharts-data-table table {
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.congestion-heatmap .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.congestion-heatmap .highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.congestion-heatmap .highcharts-data-table td,
.congestion-heatmap .highcharts-data-table th,
.congestion-heatmap .highcharts-data-table caption {
    padding: 0.5em;
}
.congestion-heatmap .highcharts-data-table thead tr,
.congestion-heatmap .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.congestion-heatmap .highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.undetected-vehicles .undetected-vehicles-wrapper {
    height: 300px;
    overflow-x: auto;
}
.undetected-vehicles .vehicle-list {
    float: left;
    height: 100%;
    padding: 0 10px;
    border-left: 1px solid #aaa;
}
.undetected-vehicles .vehicle-list:first-child {
    border-left: none;
}
.undetected-vehicles .vehicle-list .vehicle-sublist {
    height: calc(100% - 40px);
    overflow-y: scroll;
    white-space: nowrap;
}
.undetected-vehicles .vehicle-list .vehicle-sublist::-webkit-scrollbar {
    width: 5px;
}
.undetected-vehicles .vehicle-list .vehicle-sublist::-webkit-scrollbar-track {
    background-color: #ddd;
}
.undetected-vehicles .vehicle-list .vehicle-sublist::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}
.undetected-vehicles .vehicle-list .vehicle-image {
    height: 30px;
}
.undetected-vehicles .vehicle-list .vehicle-image.represent {
    margin: 3px 0;
}
.undetected-vehicles .vehicle-list .vehicle-sublist .image-item {
    position: relative;
    margin: 1px;
    cursor: pointer;
}
.undetected-vehicles .vehicle-list .vehicle-sublist .image-item .cover {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/tick.png) no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.3);
}
.undetected-vehicles .vehicle-list .vehicle-sublist .image-item.selected .cover {
    display: block;
}

.node-conv-config {
    text-align: center;
}

.model-config .config-title {
    height: 2rem;
    padding: 0;
    text-align: center;
    border-right: 2px solid #dee2e6;
}
.model-config .config-title .rotated {
    transform: rotate(270deg);
}
.model-config .config-label {
    width: 50%;
    height: 2rem;
    padding: 0 !important;
}
.model-config .config-label > label {
    width: 100%;
    padding-left: 10px;
    margin: 0;
}
.model-config .config-input {
    padding: 0 !important;
}
.model-config .config-input .form-control {
    width: 100%;
    height: 2rem;
    background-color: #f3f3f3;
    border: none;
}
