<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/img/logo-fav.png">
    <title>Beagle</title>
    <link rel="stylesheet" type="text/css" href="static/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" />
    <link rel="stylesheet" href="static/css/beagle.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="page-title">Traffic Visual Analytics</div>
        </div>
      </nav>
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <!-- Map -->
                <div class="card-body">
                  <div id="map" style="height: 300px;"></div>
                  <div id="timeline" class="chart-timeline"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <!-- Downtown traffic analysis -->
                <div class="card-body">
                  <div class="row" style="height: 200px; line-height: 200px;">
                    <div id="traffic-flow" class="col-lg-12 traffic-flow data-section">Traffic flow</div>
                  </div>
                  <div class="row" style="height: 200px; line-height: 200px;">
                    <div id="propagation-tree" class="col-lg-5 propagation-tree data-section empty">Propagation tree</div>
                    <div id="congestion-heatmap" class="col-lg-7 congestion-heatmap data-section">Cause of congestion</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <!-- CCTV info / Sampling -->
                <div class="card-body">
                  <div class="row" style="height: 200px; line-height: 200px;">
                    <div id="cctv-video" class="col-lg-5 cctv-video data-section empty">CCTV 영상</div>
                    <div id="cctv-direction" class="col-lg-2 cctv-direction data-section empty">촬영영역</div>
                    <div id="cctv-bg-diff" class="col-lg-5 cctv-bg-diff data-section empty">배경 변화비교</div>
                  </div>
                  <div class="row" style="height: 160px;">
                    <div id="cctv-sampling" class="col-lg-12 cctv-sampling data-section">
                      <table id="cctv-sampling-table" class="cctv-sampling-table table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th class="fc">FC</th>
                            <th class="cctv-id">CCTV ID</th>
                            <th class="sampling-group">Samling group</th>
                            <th class="sampling">Sampling</th>
                            <th class="entropy">Entropy</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fc">
                              <div class="bg-changed red">&nbsp;</div>
                            </td>
                            <td class="cctv-id">
                              <span>1</span>
                            </td>
                            <td class="sampling-group">
                              <select class="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </td>
                            <td class="sampling">
                              <div class="interval-chart">
                                <div class="interval-value section-0 on">&nbsp;</div>
                                <div class="interval-value section-1">&nbsp;</div>
                                <div class="interval-value section-2 on">&nbsp;</div>
                                <div class="interval-value section-3">&nbsp;</div>
                                <div class="interval-value section-4 on">&nbsp;</div>
                                <div class="interval-value section-5">&nbsp;</div>
                                <div class="interval-value section-6 on">&nbsp;</div>
                                <div class="interval-value section-7">&nbsp;</div>
                                <div class="interval-value section-8 on">&nbsp;</div>
                                <div class="interval-value section-9">&nbsp;</div>
                                <div class="interval-value section-10 on">&nbsp;</div>
                                <div class="interval-value section-11">&nbsp;</div>
                                <div class="clear"></div>
                              </div>
                            </td>
                            <td class="entropy">
                              <div id="entropy-summary" class="entropy-summary"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row" style="height: 180px; line-height: 180px;">
                    <div id="cctv-traffic" class="col-lg-6 cctv-traffic data-section empty">교통량 차트</div>
                    <div id="cctv-entropy" class="col-lg-6 cctv-entropy data-section empty">엔트로피 차트</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <!-- Vehicle detection -->
                <div class="card-body">
                  <div class="row" style="height: 200px; line-height: 200px;">
                    <div id="recall-chart-cctv" class="col-lg-6 recall-chart-cctv data-section">Recall linechart(CCTV)</div>
                    <div id="recall-chart-vehicle" class="col-lg-6 recall-chart-vehicle data-section">Recall linechart(Vehicle)</div>
                  </div>
                  <div class="row">
                    <div id="undetected-vehicles" class="col-lg-12 undetected-vehicles data-section">
                      <div class="header">Undetected vehicles</div>
                      <div class="undetected-vehicles-wrapper">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <!-- Training graph modeling -->
                <div class="card-body">
                  <div class="row">
                    <div id="node-conv-config" class="col-lg-6 node-conv-config data-section">
                      <div class="header">Node convolution configuration</div>
                      <img class="node-conv-img" src="/static/img/node_convolution.png" width="200px" />
                    </div>
                    <div id="model-config" class="col-lg-6 model-config data-section">
                      <div class="header">Model configuration</div>
                      <table class="model-config-table table table-hover table-bordered">
                        <tr>
                          <th class="config-title" rowspan="5">
                            <div class="rotated">Model</div>
                          </th>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="rnn-layers">RNN layers</label>
                          </td>
                          <td class="config-input">
                            <input id="rnn-layers" name="rnn_layers" class="form-control" type="text" value="2" />
                          </td>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="rnn-units">RNN units</label>
                          </td>
                          <td class="config-input">
                            <input id="rnn-units" name="rnn_units" class="form-control" type="text" value="64" />
                          </td>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="max-diffusion-step">Max_diffusion_step</label>
                          </td>
                          <td class="config-input">
                            <input id="max-diffusion-step" name="max_diffusion_step" class="form-control" type="text" value="2" />
                          </td>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="seq-length">seq_length</label>
                          </td>
                          <td class="config-input">
                            <input id="seq-length" name="seq_length" class="form-control" type="text" value="12" />
                          </td>
                        </tr>
                        
                        <tr>
                          <th class="config-title" rowspan="4">
                            <div class="rotated">Training</div>
                          </th>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="seq-len">Seq_len</label>
                          </td>
                          <td class="config-input">
                            <input id="seq_len" name="seq_len" class="form-control" type="text" value="12" />
                          </td>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="epoch">epoch</label>
                          </td>
                          <td class="config-input">
                            <input id="epoch" name="epoch" class="form-control" type="text" value="100" />
                          </td>
                        </tr>
                        <tr>
                          <td class="config-label">
                            <label for="batch-size">Batch size</label>
                          </td>
                          <td class="config-input">
                            <input id="batch-size" name="batch_size" class="form-control" type="text" value="64" />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row" style="height: 300px; line-height: 300px;">
                    <div id="previous-model" class="col-lg-6 previous-model data-section empty">Previous model</div>
                    <div id="learning-curve" class="col-lg-6 learning-curve data-section">Learning curve</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
    <script src="static/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="static/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="static/js/app.js" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="http://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/va-app.js" type="text/javascript"></script>
    <script src="static/js/va-map.js" type="text/javascript"></script>
    <script src="static/js/va-traffic-analysis.js" type="text/javascript"></script>
    <script src="static/js/va-cctv-info.js" type="text/javascript"></script>
    <script src="static/js/va-vehicle-detection.js" type="text/javascript"></script>
    <script src="static/js/va-training-graph.js" type="text/javascript"></script>
  </body>
</html>
